# Model Performance on test set

In [31]:
# select features with best performance on train set, in this case X_var_95
best_features = X2_var_5

# select the same features for the test set as X_var_95
columns_name= best_features.columns
X2_test_features = X2_test[columns_name[:]]
display(X2_test_features.head())
print(X2_test_features.shape)

,1,13,80,114,119,140,147,216,222,227,...,1849,1855,1866,1873,1911,1917,1921,1928,1951,1970
951,1,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1059,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
1269,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
236,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,1,1,0,1,0,0
942,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0

(286, 106)

In [32]:
# apply rf to obtain performance of best feature combination on test set
rf = RandomForestClassifier(n_estimators = 100, random_state= 1)
rf.fit(best_features, y2_train)

#make predictions
y2_score = rf.predict(X2_test_features)
y2_pred_proba = rf.predict_proba(X2_test_features)[::,1]

# calculate performance matrices
print("=== Confusion Matrix ===")
CM = confusion_matrix(y2_test, y2_score)
print(CM)
print('\n')
print("=== Classification Report ===")
print(classification_report(y2_test, y2_score))
print('\n')
print("=== AUC Score ===")
print(roc_auc_score(y2_test, y2_pred_proba))

=== Confusion Matrix ===
[[227   7]
 [ 37  15]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       0.86      0.97      0.91       234
           1       0.68      0.29      0.41        52

    accuracy                           0.85       286
   macro avg       0.77      0.63      0.66       286
weighted avg       0.83      0.85      0.82       286



=== AUC Score ===
0.7372205785667323

In [33]:
# apply rf algorithm to rank the features based on their importance
feature_imp = pd.Series(rf.feature_importances_,index=columns_name).sort_values(ascending=False)
feature_imp.head(10)

656     0.022785
694     0.021886
80      0.021571
1171    0.021424
1602    0.020295
389     0.020104
1057    0.019351
1152    0.018371
314     0.018235
695     0.018057
dtype: float64